.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.inverse1 {
    // background-color: #9e9791f3;
    // background-color:rgb(226,140,140);
    background-color:#ff7c02e5;
    // background-color: #017401f3;
    color: rgb(197, 130, 130);
  }